@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

body {
  background-color: #cfd8ff;
}

input {
  outline: none;
}

button {
  border: none;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.trello {
  background-color: #cfd8ff;
  padding-top: 20px;
}

.trello__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #a2b3fd;
  border-radius: 10px;
  padding: 25px 100px 25px 50px;
  margin-bottom: 20px;
}

.trello__title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 800;
}

.trello__timer {
  border: 1px solid #6884ff;
  border-radius: 5px;
  padding: 5px 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desc {
  background-color: #a2b3fd;
  border-radius: 10px;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.desc__category {
  border-radius: 8px;
  width: calc((100% - 50px)/3);
  padding: 5px 5px;
}

.todo .topic {
  background-color: #ffbf0f;
}

.todo .task {
  background-color: #ffbf0f;
}

.progress .topic {
  background-color: #366cff67;
}

.progress .task {
  background-color: #366cff67;
}

.done .topic {
  background-color: #8ac47b;
}

.done .task {
  background-color: #8ac47b;
}

.topic {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 30px;
  background-color: #5b79ffe7;
  border-radius: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 3px 7px -3px #000000;
          box-shadow: 0px 3px 7px -3px #000000;
}

.topic__title {
  color: #ffffff;
  text-transform: uppercase;
}

.topic__count {
  color: #ffffff;
  text-transform: uppercase;
}

.task {
  position: relative;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 5px 5px 10px 10px;
  -webkit-box-shadow: 0px 3px 7px -3px #000000;
          box-shadow: 0px 3px 7px -3px #000000;
}

.task__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.task__title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.task__description {
  width: 85%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}

.task__user {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.task__start {
  background: none;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 45%;
  cursor: pointer;
  background-image: url(/img/button__start.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.task__data {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.button__edit {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: 5px;
  padding: 1px 5px;
  border-radius: 5px;
  cursor: pointer;
  background: none;
  background-image: url(/img/button__edit.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button__delete {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: 40px;
  padding: 1px 5px;
  border-radius: 5px;
  cursor: pointer;
  background: none;
  background-image: url(/img/button__delete.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button__add {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: auto;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 7px -3px #000000;
          box-shadow: 0px 3px 7px -3px #000000;
}

.button__add:hover {
  background-color: #ffdd81;
  cursor: pointer;
}

.button__add:active {
  background-color: #ff970f;
}

.button__back {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: 74px;
  padding: 1px 4px;
  border-radius: 5px;
  background: none;
  background-image: url(/img/button__back.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button__back:hover {
  cursor: pointer;
}

.button__complete {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: 5px;
  padding: 1px 4px;
  border-radius: 5px;
  cursor: pointer;
  background: none;
  background-image: url(/img/button__conplete.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button__deleteAll {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: auto;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 7px -3px #000000;
          box-shadow: 0px 3px 7px -3px #000000;
}

.button__deleteAll:hover {
  background-color: #ffdd81;
  cursor: pointer;
}

.button__deleteAll:active {
  background-color: #ff970f;
}

.warning, .overload {
  background-color: #8ac47b;
  width: 200px;
  border-radius: 5px;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #ffffff;
  -webkit-box-shadow: -5px 40px 40px -29px #000000;
          box-shadow: -5px 40px 40px -29px #000000;
  display: none;
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: 1;
}

.warning__title, .overload__title {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.warning__cancel, .overload__cancel {
  background-color: #61805a;
  padding: 5px 10px;
  border-radius: 5px;
}

.warning__cancel:hover, .overload__cancel:hover {
  background-color: #507c47;
  cursor: pointer;
}

.warning__cancel:active, .overload__cancel:active {
  background-color: #51aa3f;
}

.warning__confirm, .overload__confirm {
  background-color: #61805a;
  padding: 5px 10px;
  border-radius: 5px;
}

.warning__confirm:hover, .overload__confirm:hover {
  background-color: #507c47;
  cursor: pointer;
}

.warning__confirm:active, .overload__confirm:active {
  background-color: #51aa3f;
}

.taskForm, .taskEdit {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #8ac47b;
  width: 400px;
  border-radius: 10px;
  padding: 15px 10px;
  border: 1px solid #ffffff;
  -webkit-box-shadow: -5px 40px 40px -29px #000000;
          box-shadow: -5px 40px 40px -29px #000000;
  display: none;
  top: 20vh;
  left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inputTitle {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 3px;
  color: #ffffff;
  font-weight: 600;
}

.inputDescription {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 3px;
  color: #ffffff;
  font-weight: 600;
}

.taskForm__title {
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 15px;
}

.taskForm__description {
  display: block;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 3px;
  height: 100px;
  margin-bottom: 10px;
}

.taskForm__users {
  width: 100px;
}

.taskForm__cancel {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 1px 4px;
  border-radius: 5px;
  cursor: pointer;
}

.taskForm__confirm {
  position: absolute;
  bottom: 5px;
  right: 58px;
  padding: 1px 4px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 850px) {
  .trello {
    background-color: #cfd8ff;
    padding-top: 20px;
  }
  .trello__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: #a2b3fd;
    border-radius: 10px;
    padding: 25px 100px 25px 50px;
    margin-bottom: 20px;
  }
  .trello__title {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 800;
  }
  .trello__timer {
    border: 1px solid #6884ff;
    border-radius: 5px;
    padding: 5px 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .desc {
    background-color: #a2b3fd;
    border-radius: 10px;
    padding: 15px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .desc__category {
    border-radius: 8px;
    width: calc((100% - 5px)/3);
    padding: 5px 5px;
  }
  .todo .topic {
    background-color: #ffbf0f;
  }
  .todo .task {
    background-color: #ffbf0f;
  }
  .progress .topic {
    background-color: #366cff67;
  }
  .progress .task {
    background-color: #366cff67;
  }
  .done .topic {
    background-color: #8ac47b;
  }
  .done .task {
    background-color: #8ac47b;
  }
  .topic {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 30px;
    background-color: #5b79ffe7;
    border-radius: 5px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 3px 7px -3px #000000;
            box-shadow: 0px 3px 7px -3px #000000;
  }
  .topic__title {
    color: #ffffff;
    text-transform: uppercase;
  }
  .topic__count {
    color: #ffffff;
    text-transform: uppercase;
  }
  .task {
    position: relative;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 5px 5px 10px 10px;
    -webkit-box-shadow: 0px 3px 7px -3px #000000;
            box-shadow: 0px 3px 7px -3px #000000;
  }
  .task__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .task__title {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .task__description {
    display: none;
    width: 85%;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .task__user {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }
  .task__start {
    position: absolute;
    right: 5px;
    top: 45%;
    cursor: pointer;
  }
  .task__data {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }
  .button__edit {
    position: absolute;
    top: 2px;
    right: 5px;
    padding: 1px 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  .button__delete {
    position: absolute;
    top: 2px;
    right: 40px;
    padding: 1px 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  .button__add {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: auto;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 3px 7px -3px #000000;
            box-shadow: 0px 3px 7px -3px #000000;
  }
  .button__add:hover {
    background-color: #ffdd81;
    cursor: pointer;
  }
  .button__add:active {
    background-color: #ff970f;
  }
  .button__back {
    position: absolute;
    top: 2px;
    right: 74px;
    padding: 1px 4px;
    border-radius: 5px;
  }
  .button__back:hover {
    cursor: pointer;
  }
  .button__complete {
    position: absolute;
    top: 2px;
    right: 5px;
    padding: 1px 4px;
    border-radius: 5px;
    cursor: pointer;
  }
  .button__deleteAll {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: auto;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 3px 7px -3px #000000;
            box-shadow: 0px 3px 7px -3px #000000;
  }
  .button__deleteAll:hover {
    background-color: #ffdd81;
    cursor: pointer;
  }
  .button__deleteAll:active {
    background-color: #ff970f;
  }
  .warning, .overload {
    background-color: #8ac47b;
    width: 200px;
    border-radius: 5px;
    padding: 15px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: 1px solid #ffffff;
    -webkit-box-shadow: -5px 40px 40px -29px #000000;
            box-shadow: -5px 40px 40px -29px #000000;
    display: none;
    position: absolute;
    top: 50vh;
    left: 50vw;
    z-index: 1;
  }
  .warning__title, .overload__title {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .warning__cancel, .overload__cancel {
    background-color: #61805a;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .warning__cancel:hover, .overload__cancel:hover {
    background-color: #507c47;
    cursor: pointer;
  }
  .warning__cancel:active, .overload__cancel:active {
    background-color: #51aa3f;
  }
  .warning__confirm, .overload__confirm {
    background-color: #61805a;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .warning__confirm:hover, .overload__confirm:hover {
    background-color: #507c47;
    cursor: pointer;
  }
  .warning__confirm:active, .overload__confirm:active {
    background-color: #51aa3f;
  }
  .taskForm, .taskEdit {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #8ac47b;
    width: 400px;
    border-radius: 10px;
    padding: 15px 10px;
    border: 1px solid #ffffff;
    -webkit-box-shadow: -5px 40px 40px -29px #000000;
            box-shadow: -5px 40px 40px -29px #000000;
    display: none;
    top: 20vh;
    left: 50vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
  }
  .visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .inputTitle {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 3px;
    color: #ffffff;
    font-weight: 600;
  }
  .inputDescription {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 3px;
    color: #ffffff;
    font-weight: 600;
  }
  .taskForm__title {
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .taskForm__description {
    display: block;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 3px;
    height: 100px;
    margin-bottom: 10px;
  }
  .taskForm__users {
    width: 100px;
  }
  .taskForm__cancel {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 1px 4px;
    border-radius: 5px;
    cursor: pointer;
  }
  .taskForm__confirm {
    position: absolute;
    bottom: 5px;
    right: 58px;
    padding: 1px 4px;
    border-radius: 5px;
    cursor: pointer;
  }
}
/*# sourceMappingURL=styles.css.map */